body {
    display: flex;
    flex-basis: auto;
}


header, main, footer {
    border: 1px solid black;
    height: 500px;
    width: 33%;
    margin: 10px;
}

header {
    background-color: yellow; 
}

main {
    background-color: lightblue;
}

footer {
    background-color: grey;
}
